:host {
  display: block;
}

.out {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
}

.amount {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
  font-size: 2em;
  font-weight: lighter;
}
