input[type=checkbox] {
    opacity: 0;
    position: absolute;
    outline: initial;
  }
  
  .ws-label {
    width: 20%;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    border: solid 1px #dddddd;
    background-color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #888888;
    line-height: initial;
  }
  
  .ws-label-selected {
    color: #1b1b1b;
    border: solid 2px #307f7f;
    background-color: #fcfbfb;
  }
  
  
  
  
  
  